<ons-page ng-controller="LoginController" ng-init="init()">
    <div ng-include="'templates/ModuleHeader.html'"></div>
    <form ng-submit="login()">
        <ons-row style="margin-top: 0px;">
            <ons-col align="center">

                <input type="text" ng-model="nombre" class="text-input--underbar" placeholder="Nombre" value="">
                <input type="text" ng-model="apellido" class="text-input--underbar" placeholder="Apellido" value="">
                <input type="email" ng-model="email" class="text-input--underbar" placeholder="Email" value="">
                <input type="text" ng-model="provinciaId" class="text-input--underbar" placeholder="Provincia" value="">
                <input type="text" ng-model="userName" class="text-input--underbar" placeholder="Nombre de usuario" value="">
                <input type="password" ng-model="password" class="text-input--underbar" placeholder="Password" value="">
                <input type="password" ng-model="passwordVerification" class="text-input--underbar" placeholder="Password Verification" value="">

                <br>
                <ons-button modifier="large" should-spin="{{isWorking}}" ng-click="login()">Ingresar</ons-button>
            </ons-col>
        </ons-row>
    </form>
</ons-page>


/*
_method	POST
data[Usuario][nombre]	Pablo
data[Usuario][apellido]	Weremczuk
data[Usuario][mail]	werem@yopmail.com
data[Usuario][provincia_id]	2
data[Usuario][login]	werem1
data[Usuario][password]	cadorna
data[Usuario][check_password]	cadorna
data[Usuario][tipo_usuario_id]	2
data[Usuario][habilitado]	0
*/
