<div class="grid-menu">
        <div class="grid-menu-3items-row centering-and-alignment">
          <div class="grid-menu-item list__item--tappable">
            <i class="fa fa-search"></i>
            <div class="grid-menu-item-label">Search</div>
          </div>
          <div class="grid-menu-item list__item--tappable">
            <i class="fa fa-location-arrow"></i>
            <div class="grid-menu-item-label">Map</div>
          </div>
          <div class="grid-menu-item list__item--tappable">
            <i class="fa fa-beer"></i>
            <div class="grid-menu-item-label">Special</div>
          </div>
        </div>
        <div class="grid-menu-3items-row centering-and-alignment">
          <div class="grid-menu-item list__item--tappable">
            <i class="fa fa-calendar"></i>
            <div class="grid-menu-item-label">Reservation</div>
          </div>
          <div class="grid-menu-item list__item--tappable">
            <i class="fa fa-star"></i>
            <div class="grid-menu-item-label">Favorite</div>
          </div>
          <div class="grid-menu-item list__item--tappable">
            <i class="fa fa-comment"></i>
            <div class="grid-menu-item-label">News</div>
          </div>
        </div>
        <div class="grid-menu-3items-row centering-and-alignment">
          <div class="grid-menu-item list__item--tappable">
            <i class="fa fa-cutlery"></i>
            <div class="grid-menu-item-label">Dishes</div>
          </div>
          <div class="grid-menu-item list__item--tappable">
            <i class="fa fa-barcode"></i>
            <div class="grid-menu-item-label">Coupon</div>
          </div>
          <div class="grid-menu-item list__item--tappable">
            <i class="fa fa-camera"></i>
            <div class="grid-menu-item-label">Photos</div>
          </div>
        </div>
      </div>
