<div class="grid-menu">
    <div class="grid-menu-3items-row centering-and-alignment">
        <div class="grid-menu-item list__item--tappable" ng-click="ons.navigator.pushPage('templates/login.html')">
            <img src="{{categories[0].thumb}}">
            <div class="grid-menu-item-label">Login</div>
        </div>
        <div class="grid-menu-item list__item--tappable" ng-click="ons.navigator.pushPage('templates/login.html')">
            <i class="fa fa-user"></i>
            <div class="grid-menu-item-label">Login</div>
        </div>
        <div class="grid-menu-item list__item--tappable" ng-click="ons.navigator.pushPage('templates/contacto.html')">
            <i class="fa fa-phone"></i>
            <div class="grid-menu-item-label">Contacto</div>
        </div>
    </div>
    <div class="grid-menu-3items-row centering-and-alignment">
        <div class="grid-menu-item list__item--tappable" ng-click="ons.navigator.pushPage('templates/login.html')">
            <i class="fa fa-user"></i>
            <div class="grid-menu-item-label">Login</div>
        </div>
        <div class="grid-menu-item list__item--tappable" ng-click="ons.navigator.pushPage('templates/login.html')">
            <i class="fa fa-user"></i>
            <div class="grid-menu-item-label">Login</div>
        </div>
        <div class="grid-menu-item list__item--tappable" ng-click="ons.navigator.pushPage('templates/contacto.html')">
            <i class="fa fa-phone"></i>
            <div class="grid-menu-item-label">Contacto</div>
        </div>
    </div>
</div>
