    <ons-navigator>
      <ons-page>
      <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
      </div>
        <div class="center"><img style="margin-top: 4px;" src="imgs/logo_original_png.png"></div>
      </ons-toolbar>
			
		  <ons-row style="margin-top: 0px;">
          <ons-col align="center">
            <div  class="grid-menu-scroller" ng-include="'templates/gridmenu.html'"></div>
          </ons-col>
        </ons-row>
      </ons-page>
    </ons-navigator>
