  <ons-page ng-controller="LoginController">

     <div ng-include="'templates/header.html'"></div>

    <ons-row style="margin-top: 0px;">
      <ons-col align="center">
        <div class="main-image-wrapper">
		    <img src="http://www.nakaoutdoors.com.ar/img/logos/logo_original_png.png">
		</div>
		<input type="email" class="text-input--underbar" placeholder="Email" value="">
		<input type="password" type="text" class="text-input--underbar" placeholder="Password" value="">
		<br>
		<button class="button login-button" ng-click="login()">Log in</button>
		<br>
    <br>
    <textarea class="text-input--underbar" ng-model="debugText" placeholder="Ingrese su consulta" style="font-size:19px;width: 80%; height: 100px;">Contulta Cadorna</textarea>
      </ons-col>
    </ons-row>

  </ons-page>



