<ons-list>
    <ons-toolbar modifier="transparent">
        <div class="right">
            <ons-toolbar-button class="menu-close" ng-click="menu.close()">
                </ons-icon>Cerrar
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <ons-list-item modifier="chevron" ng-hide="userData.logedIn" onclick="mainNavigator.pushPage('templates/forms/FormLogin.html')">
        Login
    </ons-list-item>

    <ons-list-item modifier="chevron" ng-show="userData.logedIn" onclick="pushPageAndCloseMenu('templates/forms/FormProfile.html')">
        Ver Perfil
    </ons-list-item>
    <ons-list-item modifier="chevron" ng-controller="LoginController" ng-show="userData.logedIn" ng-click="logout()">
        Logout
    </ons-list-item>
    <ons-list-item modifier="chevron" onclick="mainNavigator.pushPage('templates/pages/PageContacto.html')">
        Contacto
    </ons-list-item>
    <ons-list-item ng-hide="categories.length == 0" ng-repeat="category in categories[0]" modifier="chevron" ng-click="showCategory(category.id, true)">
        {{category.title}}
    </ons-list-item>
    <ons-list-item ng-show="categories.length == 0">
        <ons-row>
            <ons-col align="center">
                <ons-icon icon="spinner" size="20px" spin="true"></ons-icon>
            </ons-col>
        </ons-row>
    </ons-list-item>
</ons-list>
