<ons-page ng-controller="CartController">
    <module-header></module-header>
    <div class="content-padded" ng-hide="loading">
        <ons-row style="margin-top: 20px;">
            <ons-col align="center">
                <div>{{product.title}}</div>
            </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
            <ons-col>
                <ons-list>
                    <ons-list-header>Cantidad</ons-list-header>
                    <ons-list-item>
                        <input type="number" min="1" ng-model="cantidad" class="text-input--underbar select-combo" placeholder="Cantidad">
                    </ons-list-item>
                    <ons-list-header ng-if="product.options">Opciones</ons-list-header>
                    <ons-list-item ng-if="product.options">
                        <select type="text" ng-model="myTalle" ng-options="talle.id as talle.name group by talle.stock for talle in product.talles" class="text-input--underbar select-combo">
                        <option value="">-- Elija una opción --</option>
                        </select>
                    </ons-list-item>
                </ons-list>
            </ons-col>
        </ons-row>

        <ons-row style="margin-top: 10px;">
            <ons-col align="center">
                <ons-button modifier="large" ng-click="addToKart()">Agregar al Carrito</ons-button>
            </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
            <ons-col align="center">
                <ons-button modifier="large" ng-click="ons.navigator.popPage()">volver</ons-button>
            </ons-col>
        </ons-row>
    </div>
</ons-page>
