<ons-page>
    <div ng-include="'templates/ModuleHeader.html'"></div>
    <div class="content-padded" ng-hide="loading">
        <ons-row style="margin-top: 0px;">
            <ons-col align="center">
                <div>{{product.name}}</div>
                <ons-list>
                    <div ng-repeat="question in product.questions">
                        <ons-list-header>{{question.name}}
                            <br>{{question.message}}</ons-list-header>
                        <ons-list-item>
                            En los últimos años, muchas investigaciones se ha dedicado a la unificación natural de corrección de errores en recepción y los juegos de rol en línea multijugador masivos.
                        </ons-list-item>
                    </div>
                </ons-list>
            </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
            <ons-col align="center">
                <ons-button modifier="large" ng-click="ons.navigator.pushPage('templates/FormQuestionOnProduct.html')">Preguntar</ons-button>
            </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
            <ons-col align="center">
                <ons-button modifier="large" ng-click="ons.navigator.popPage()">volver</ons-button>
            </ons-col>
        </ons-row>
    </div>
</ons-page>
