    <ons-page class="center">
      <div ng-include="'templates/header.html'"></div>
       <ons-row style="margin-top: 0px;">
        <ons-col align="center">
          <ons-list>
            <ons-list-item modifier="chevron" ng-repeat="category in categories" ng-click="showCategory(category.id)">
              <ons-row>
                <ons-col class="left">
                  {{category.title}}
                </ons-col>
              </ons-row>                          
            </ons-list-item>
          </ons-list>

          </ons-col>
      </ons-row>
</ons-page>

   
