<ons-page>

    <div ng-include="'templates/ModuleHeader.html'"></div>
    <div class="content-padded" ng-hide="loading">
        <ons-row style="margin-top: 0px;">
            <ons-col align="center">
                <br>
                <div>{{product.title}}</div>

                <div ng-repeat="slide in product.images">
                    <div class="frame-for-featured-image" ng-show="$first">
                        <img class="featured-image" src="{{'http://www.nakaoutdoors.com.ar/img/articulos/'+ slide}}" />
                    </div>
                </div>
                <div class="image-frame bottom-image-picker" style="text-align:center;">
                    <div class="image-frame-for-picker image-frame" ng-repeat="slide in product.images">
                        <img class="image-picker-item" src="{{'http://www.nakaoutdoors.com.ar/img/articulos/'+ slide}}" />
                    </div>
                </div>

                <ons-list>
                    <ons-list-item modifier="chevron" ng-click="ons.navigator.pushPage('templates/PageProductDetail.html', {productDetails: product.body})"><ons-icon icon="info-circle"></ons-icon> Detalles del Producto</ons-list-item>
                     <ons-list-item modifier="chevron" ng-click="ons.navigator.pushPage('templates/PageProductQuestions.html', {productQuestions: product.questions})"><ons-icon icon="question-circle"></ons-icon> Preguntas</ons-list-item>
                </ons-list>
                <br>
                <button class="button login-button">Comprar</button>
            </ons-col>
        </ons-row>
    </div>
    <div class="content-padded" ng-show="loading">
        <ons-row>
            <ons-col align="center">
                <ons-icon icon="spinner" size="40px" spin="true"></ons-icon>
                <br>cargando...
            </ons-col>
        </ons-row>
    </div>
</ons-page>
