<ons-page>

    <div ng-include="'templates/ModuleHeader.html'"></div>
    <div class="content-padded" ng-hide="loading">
        <ons-row style="margin-top: 0px;">
            <ons-col align="center">
                <br>
                <div>{{product.title}}</div>

                <div ng-repeat="slide in product.images">
                    <div class="frame-for-featured-image" ng-show="$first">
                        <img class="featured-image" src="{{'http://www.nakaoutdoors.com.ar/img/articulos/'+ slide}}" />
                    </div>
                    <div class="image-frame bottom-image-picker" style="text-align:center;">
                        <div class="image-frame-for-picker image-frame">
                            <img class="image-picker-item" src="{{'http://www.nakaoutdoors.com.ar/img/articulos/'+ slide}}" />
                        </div>
                        <div class="image-frame-for-picker image-frame">
                            <img class="image-picker-item" src="{{'http://www.nakaoutdoors.com.ar/img/articulos/'+ slide}}" />
                        </div>
                        <div class="image-frame-for-picker image-frame">
                            <img class="image-picker-item" src="{{'http://www.nakaoutdoors.com.ar/img/articulos/'+ slide}}" />
                        </div>
                    </div>
                </div>
                <div ng-bind-html="product.body"></div>
                <br>
                <button class="button login-button">Comprar</button>
            </ons-col>
        </ons-row>
    </div>
    <div class="content-padded" ng-show="loading">
        <ons-row>
            <ons-col align="center">
                <ons-icon icon="spinner" size="40px" spin="true"></ons-icon>
                <br>cargando...
            </ons-col>
        </ons-row>
    </div>
</ons-page>
