 <ons-tabbar>
    <ons-tabbar-item
      active="true"
      label="Home"
      icon="home"
      page="templates/home.html">
    </ons-tabbar-item>

    <ons-tabbar-item
      label="Buscar"
      icon="search"
      page="templates/page2.html">
    </ons-tabbar-item>

    <ons-tabbar-item
      label="Contacto"
      icon="phone"
      page="templates/contacto.html">
    </ons-tabbar-item>
     <ons-tabbar-item
      label="Login"
      icon="user"
      ng-click="modal.show();">
    </ons-tabbar-item>
    <ons-tabbar-item
      label="Mas"
      icon="plus"
      ng-click="menu.toggleMenu()">
    </ons-tabbar-item>
  </ons-tabbar>
