.left {
	text-align: left;
}

/*--- GridMenu begin ---*/
.my-slider {
    width: 450px;
    height: 300px;
    font-size:0;
}

.grid-menu {
    width: 100%;
    height: 300px;
}

.float-left {
    float: left;
}

.font-weight-500 {
    font-weight: 500;
}

.centering-and-alignment {
    display: box;
    display: -ms-box;
    display: -moz-box;
    display: -o-box;
    display: -webkit-box;
    box-align: center;
    -ms-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -webkit-box-align: center;
    box-pack: center;
    -ms-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -webkit-box-pack: center;
}

.grid-menu-scroller {
	border-top: 1px solid #CECECE !important;
    border-bottom: 1px solid #CECECE !important;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.grid-menu-3items-row {
    width: 100%;
    height: 33.3333%;
    min-height: 100px;
    margin: 0;
    padding: 0;
}

.grid-menu-item {
    width: 33.3333%;
    height: 100%;
    min-width: 100px;
    min-height: 100px;
    margin: 0;
    padding: 0;
    border-left: 1px solid #CECECE !important;
    border-bottom: 1px solid #CECECE !important;
    font-size: 48px;
    text-align: center;
    opacity: 0.6;
    border-top: 0px !important;
}

.grid-menu-item:first-child {
    border-left: none !important;
}

.grid-menu-item i {
    margin-top: 20px;
    font-size: 36px;
    opacity: 0.4;
}

.grid-menu-item-label {
    margin-top: 3%;
    font-size: 14px;
}

.grid-menu-list-item-left {
    width: 90%;
    opacity: 0.6;
}

.grid-menu-list-item-right {
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 16px;
    width: 80px;
    font-size: 20px;
    opacity: 0.4;
    text-align: right;
    line-height: 44px;
}
/*--- GridMenu end ---*/
/*--- Login begin ---*/
div.float-left {
    float: left;
}

.text-centering {
    text-align: center;
}

.font-weight-500 {
    font-weight: 500;
}

.main-image-wrapper {
    text-align: center;
    height: 180px;
    margin: 30px 0;
}

.main-image {
    font-size: 150px;
    line-height: 200px;
}

input[type=text], input[type=email], input[type=password] {
    display: block;
    width: 80%;
    height: 48px;
    margin: 0 auto;
    font-size: 19px;
    outline: none;
    line-height: 48px;
}

.login-button {
    display: block;
    width: 80%;
    margin: 0 auto 0 auto;
    font-size: 18px;
}

.forgot-password {
    display: block;
    margin: 8px auto 0 auto;
    font-size: 14px;
}
/*--- Login end ---*/

