.left {
    text-align: left;
}
.content-padded-left-right {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}
/*--- GridMenu begin ---*/

.grid-menu {
    width: 100%;
    height: 205px;
}
.float-left {
    float: left;
}
.font-weight-500 {
    font-weight: 500;
}
.centering-and-alignment {
    display: box;
    display: -ms-box;
    display: -moz-box;
    display: -o-box;
    display: -webkit-box;
    box-align: center;
    -ms-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -webkit-box-align: center;
    box-pack: center;
    -ms-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -webkit-box-pack: center;
}
.grid-menu-scroller {
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.grid-menu-3items-row {
    width: 100%;
    height: 33.3333%;
    min-height: 100px;
    margin: 0;
    padding: 0;
}
.grid-menu-item {
    width: 33.3333%;
    height: 100%;
    min-width: 100px;
    min-height: 100px;
    margin: 0;
    padding: 0;
    border-left: 1px solid #CECECE !important;
    border-bottom: 1px solid #CECECE !important;
    font-size: 48px;
    text-align: center;
    opacity: 0.6;
    border-top: 0px !important;
}
.grid-menu-item:first-child {
    border-left: none !important;
}
.grid-menu-item i {
    margin-top: 20px;
    font-size: 36px;
    opacity: 0.4;
}
.grid-menu-item-label {
    margin-top: 3%;
    font-size: 14px;
}
.grid-menu-list-item-left {
    width: 90%;
    opacity: 0.6;
}
.grid-menu-list-item-right {
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 16px;
    width: 80px;
    font-size: 20px;
    opacity: 0.4;
    text-align: right;
    line-height: 44px;
}
/*--- GridMenu end ---*/

/*--- Login begin ---*/

div.float-left {
    float: left;
}
.text-centering {
    text-align: center;
}
.font-weight-500 {
    font-weight: 500;
}
.main-image-wrapper {
    text-align: center;
    height: 180px;
    margin: 30px 0;
}
.main-image {
    font-size: 150px;
    line-height: 200px;
}
input[type=text], input[type=email], input[type=password] {
    display: block;
    width: 80%;
    height: 48px;
    margin: 0 auto;
    font-size: 19px;
    outline: none;
    line-height: 48px;
}
.login-button {
    display: block;
    width: 80%;
    margin: 0 auto 0 auto;
    font-size: 18px;
}
.forgot-password {
    display: block;
    margin: 8px auto 0 auto;
    font-size: 14px;
}
/*--- Login end ---*/

/* Alert Col */

.alert {
    height: 200px;
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
    background: #fff;
    overflow: hidden;
    color: #999;
}
/*--- Angular Carrousel begin ---*/

.my-slider {
    width: 100%;
    height: 150px;
    font-size: 0;
}
.my-slider li div.debug {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 12px;
    width: 100%;
    padding: 5px;
}
/*--- Angular Carrousel end ---*/

/*--- list with pictures begin ---*/

.float-left {
    float: left;
}

.list-item-container {
    line-height: 14px;
    min-height: 14px;
    font-size: 12px;
}

.list-item-main {
    padding: 15px 0px 15px 5px;
}

.list-item-main:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.list-item-left {
    width: 60px;
    margin-right: -60px;
    float: left;
}

.list-item-right {
    width: 100%;
    float: right;
}

.list-item-content {
    margin-left: 60px;
    margin-right: 30px;
}

.avator {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.list-top {
    margin-top: -1px;
}

.list-item-name {
    font-weight: 500;
    line-height: 16px;
    min-height: 16px;
}

.list-item-text {
    line-height: 14px;
    min-height: 14px;
}

.list-item-action {
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -10px;
    font-size: 20px;
    line-height: 26px;
    opacity: 0.4;
}

.lucent {
    opacity: 0.4;
}

.bottom-tab-bar {
    position: fixed;
    bottom: 0;
}

.left-icon-tab-bar {
    position: relative;
}

.left-icon-tab-bar i {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
}

.left-icon-tab-bar .tab-bar-right-label {
    position: absolute;
    top: -2px;
    left: 45px;
    width: 40px;
    height: 40px;
    font-size: 12px;
}
/*--- list with pictures end ---*/
