<ons-row style="margin-top: 10px;">
    <ons-col align="center">
        <ons-list>
            <ons-list-header>Nombre</ons-list-header>
            <ons-list-item>
                <input type="text" ng-model="nombre" class="text-input--underbar" placeholder="Nombre" value="">
            </ons-list-item>

            <ons-list-header>Apellido</ons-list-header>
            <ons-list-item>
                <input type="text" ng-model="apellido" class="text-input--underbar" placeholder="Apellido" value="">
            </ons-list-item>
            <ons-list-header>Mail</ons-list-header>
            <ons-list-item>
                <input type="email" ng-model="mail" class="text-input--underbar" placeholder="Email" value="">
            </ons-list-item>
            <ons-list-header>Celular</ons-list-header>
            <ons-list-item>
                <input type="text" ng-model="celular" class="text-input--underbar" placeholder="Celular" value="">
            </ons-list-item>
        </ons-list>
    </ons-col>
</ons-row>
<ons-row style="margin-top: 10px;">
    <ons-col>
        <b>Datos de envío y seguro</b>
    </ons-col>
</ons-row>
<ons-row style="margin-top: 10px;">
    <ons-col align="center">
        <ons-list>
            <ons-list-header>Tipo de envio</ons-list-header>
            <ons-list-item>
                <select type="text" class="text-input--underbar select-combo" ng-model="tipoEnvio" required="required">
                    <option value="">-- Seleccionar tipo de envío --</option>
                    <option value="1">Retiro en local</option>
                    <option value="2">Envío asegurado</option>
                    <option value="3">Envío sin asegurar</option>
                    <option value="4">Otro</option>
                </select>
            </ons-list-item>
            <ons-list-header>Localidad</ons-list-header>
            <ons-list-item>
                <input type="text" ng-model="localidad" class="text-input--underbar" placeholder="Localidad" value="">
            </ons-list-item>
            <ons-list-header>Codigo Postal</ons-list-header>
            <ons-list-item>
                <input type="text" ng-model="codigoPostal" class="text-input--underbar" placeholder="Codigo Postal" value="">
            </ons-list-item>
            <ons-list-header>Provincia</ons-list-header>
            <ons-list-item>
                <select type="text" class="text-input--underbar select-combo" ng-model="provincia" required="required" id="UsuarioProvinciaId">
                    <option value="">-- Seleccionar provincia --</option>
                    <option value="1">Buenos Aires</option>
                    <option value="2">Capital Federal</option>
                    <option value="3">Catamarca</option>
                    <option value="4">Cordoba</option>
                    <option value="5">Corrrientes</option>
                    <option value="6">Chaco</option>
                    <option value="7">Chubut</option>
                    <option value="8">Entre Rios</option>
                    <option value="9">Formosa</option>
                    <option value="10">Jujuy</option>
                    <option value="11">La Pampa</option>
                    <option value="12">La Rioja</option>
                    <option value="13">Mendoza</option>
                    <option value="14">Misiones</option>
                    <option value="15">Neuquen</option>
                    <option value="16">Rio Negro</option>
                    <option value="17">Salta</option>
                    <option value="18">San Luis</option>
                    <option value="19">San Juan</option>
                    <option value="20">Santa Cruz</option>
                    <option value="21">Santa Fe</option>
                    <option value="22">Santiago del Estero</option>
                    <option value="23">Tierra del Fuego</option>
                    <option value="24">Tucuman</option>
                </select>
            </ons-list-item>
        </ons-list>

        <ons-list>
            <ons-list-header>Tipo de Envio</ons-list-header>
            <ons-list-item>
                <select type="text" class="text-input--underbar select-combo" ng-model="formaDePago" required="required" id="">
                    <option value="">-- Seleccionar tipo de pago --</option>
                    <option value="1">Deposito</option>
                    <option value="2">Mercado Pago</option>
                    <option value="3">Visa</option>
                </select>
            </ons-list-item>
            <ons-list-header>Apellido</ons-list-header>
            <ons-list-item>Nombre</ons-list-item>
            <ons-list-header>Mail</ons-list-header>
            <ons-list-item>Nombre</ons-list-item>
            <ons-list-header>Celular</ons-list-header>
            <ons-list-item>Nombre</ons-list-item>
        </ons-list>
    </ons-col>
</ons-row>
