<ons-page ng-controller="CartController" ng-init="init()">
    <module-header></module-header>
    <form novalidate name="formPedido" ng-submit="enviarPedido()">

        <div class="content-padded">
            <div class="panel">
                <div class="panel-heading">Ingrese sus datos para finalizar su pedido</div>
                <div class="panel-body">
                    <label>Nombre:</label>
                    <input type="text" ng-model="userData.profileData.nombre" class="text-input--underbar" placeholder="Nombre" value="" required>

                    <label>Apellido:</label>
                    <input type="text" ng-model="userData.profileData.apellido" class="text-input--underbar" placeholder="Apellido" value="" required>

                    <label>e-mail:</label>
                    <input type="email" ng-model="userData.profileData.mail" class="text-input--underbar" placeholder="Email" value="" required>

                    <label>Telefono:</label>
                    <input type="text" ng-model="userData.profileData.telefono" class="text-input--underbar" placeholder="telefono" value="">

                    <label>Código de área:</label>
                    <input type="text" ng-model="userData.profileData.cod_area" class="text-input--underbar" placeholder="código de área" value="">

                    <label>Celular:</label>
                    <input type="text" ng-model="userData.profileData.celular" class="text-input--underbar" placeholder="celular" value="">

                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                    Datos de envío y seguro</div>
                <div class="panel-body">

                    <ons-row style="margin-top: 10px;">
                        <ons-col>
                            <div class="alert-b alert-b-info" role="alert">
                                Le recomendamos asegurar el envío. Hemos experimentado robos en cajas a las empresas de transporte. Si usted decide no asegurar la compra, Nakaoutdoors no se hace responsable una vez despachada la caja en la empresa de encomiendas y usted está aceptando estas condiciones. El valor para el seguro del envío, será el 2% de la suma asegurada: $ 4.- para su compra.
                            </div>
                        </ons-col>
                    </ons-row>

                    <ons-row style="margin-top: 10px;">
                        <ons-col>
                            <label>Tipo de envío:</label>
                            <!-- <select required type="text" class="text-input--underbar select-combo" ng-model="tipoDeEnvio" ng-options="shippingType.id as shippingType.name for shippingType in buyOptions.shipping_types">
                                <option value="">-- Seleccionar tipo de envío --</option>
                            </select> -->
                            <ons-button modifier="large--cta" ng-click="genericSelectStart(buyOptions.shipping_types, 'tipoDeEnvio.id','tipoDeEnvio.name', 'name', 'id', null, this)">
                                <ons-icon icon="truck"></ons-icon>&nbsp
                                <ons-icon icon="lock"></ons-icon>&nbsp{{tipoDeEnvio.id?tipoDeEnvio.name:'-- Seleccionar tipo de envío --'}}</ons-button>
                            <br>
                        </ons-col>
                    </ons-row>

                    <ons-row style="margin-top: 10px;" ng-if="tipoDeEnvio.id === 1">
                        <ons-col>
                            <div class="alert-b alert-b-info" role="alert">
                                Su compra será reservada por un plazo máximo de 5 días hábiles. Superado el plazo NO garantizamos el stock de su pedido. Recuerda que puedes pagar por Mercado Pago y retirar en Local con cualquiera de estas tarjetas!
                                <img style="width:100%; height:auto" src="http://imgmp.mlstatic.com/org-img/banners/ar/medios/online/575X40.jpg">
                            </div>
                        </ons-col>
                    </ons-row>


                    <ons-row style="margin-top: 10px;" ng-if="tipoDeEnvio.id === 2">
                        <ons-col>
                            <div class="alert-b alert-b-info" role="alert">
                                Su envío se encuentra asegurado, la suma total será de $189 (importe de la compra) + $4 (importe del seguro), con un total de $193 a depositar. Los costos de envío son abonados al retirar en terminal y dependen de la empresa de transportes. Importante: La caja será cerrada con una faja de seguridad impresa que dice "Nakaoutdoors - Faja de seguridad, verifique que no haya sido violada". Si cuando usted recibe el paquete en terminal observa signos de que la faja fue cortada o la caja violada, no retire el paquete, realice el reclamo y avísenos inmediatamente. Si usted retira la caja y luego descubre que hay faltantes, el seguro pierde validez.
                            </div>


                        </ons-col>
                    </ons-row>

                    <ons-row style="margin-top: 10px;" ng-if="tipoDeEnvio.id === 3">
                        <ons-col>
                            <div class="alert-b alert-b-info" role="alert">
                                Usted selecciono su envío sin asegurar. Nakaoutdoors no se reponsabiliza por robos una vez despachado el paquete en la empresa de transportes.
                            </div>
                        </ons-col>
                    </ons-row>

                    <ons-row style="margin-top: 10px;" ng-show="tipoDeEnvio.id === 2 || tipoDeEnvio.id === 3">
                        <ons-col>
                            <label>Forma de envío:</label>
                            <!-- <select ng-required="tipoDeEnvio.id === 2 || tipoDeEnvio.id === 3" type="text" class="text-input--underbar select-combo" ng-model="formaEnvio" ng-options="shipping_way.id as shipping_way.name for shipping_way in buyOptions.shipping_ways">
                                <option value="">-- Seleccionar forma de envío --</option>
                            </select>
                            {{formaEnvio.id}}-{{formaEnvio.name}} -->
                            <ons-button modifier="large--cta" ng-click="genericSelectStart(buyOptions.shipping_ways, 'formaEnvio.id','formaEnvio.name', 'name', 'id', null, this)">
                                <ons-icon icon="truck"></ons-icon>&nbsp{{formaEnvio.id?formaEnvio.name:'-- Seleccionar forma de envío --'}}</ons-button>
                        </ons-col>
                    </ons-row>

                    <ons-row style="margin-top: 10px;" ng-if="tipoDeEnvio.id === 4">
                        <ons-col>
                            <div class="alert-b alert-b-info" role="alert">
                                Por favor especifique en el campo observaciones ubicado debajo la modalidad de envío que desea para este pedido.
                            </div>
                        </ons-col>
                    </ons-row>

                    <ons-row style="margin-top: 10px;">
                        <ons-col>
                            <!--- DATOS DE ENVIO -->
                            <label>Dirección:</label>
                            <input type="text" ng-model="userData.profileData.direccion" class="text-input--underbar" placeholder="dirección" value="" required>

                            <label>Localidad:</label>
                            <input type="text" ng-model="userData.profileData.localidad" class="text-input--underbar" placeholder="Localidad" value="" required>

                            <label>Código postal:</label>
                            <input type="text" ng-model="userData.profileData.codigo_postal" class="text-input--underbar" placeholder="Codigo Postal" value="" required>
                            <label>Provincia:</label>
                            <ons-button modifier="large--cta" ng-click="genericSelectStart(buyOptions.provinces, 'userData.profileData.provincia_id','userData.profileData.provincia_name', 'name', 'id', null, this)">
                                <ons-icon icon="globe"></ons-icon>&nbsp{{userData.profileData.provincia_name?userData.profileData.provincia_name:'-- Seleccionar provincia --'}}</ons-button>
                            <label>Tipo de factura:</label>
                            <ons-button modifier="large--cta" ng-click="genericSelectStart(buyOptions.billing_options, 'userData.profileData.iva_facturacion','userData.profileData.iva_facturacion_name', 'name', 'id', null, this)">
                                <ons-icon icon="file-text-o"></ons-icon>&nbsp{{userData.profileData.iva_facturacion_name?userData.profileData.iva_facturacion_name:'-- Seleccionar tipo de factura --'}}</ons-button>


                            <div ng-show="opcionesDePago === 1 || opcionesDePago === 3">
                                <input ng-required="opcionesDePago === 1 || opcionesDePago === 3" type="text" ng-model="cuit" class="text-input--underbar" placeholder="C.U.I.T" value="">
                            </div>
                            <!--- DATOS DE ENVIO -->
                        </ons-col>
                    </ons-row>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">Forma de pago</div>
                <div class="panel-body">

                    <label>Tipo de pago:</label>
                    <ons-button modifier="large--cta" ng-click="genericSelectStart(buyOptions.pay_options, 'formaDePago','formaDePago_name', 'name', 'id', null, this)">
                        <ons-icon icon="credit-card"></ons-icon>&nbsp{{formaDePago_name?formaDePago_name:'-- Seleccionar tipo de pago --'}}</ons-button>

                    <ons-row style="margin-top: 10px;" ng-if="formaDePago === 0">
                        <ons-col>
                            <div class="alert-b alert-b-info" role="alert">
                                Verificaremos el stock de los productos dentro de las 24hs hábiles siguientes y te escribiremos con la confirmación y números de cuenta para realizar el depósito.
                            </div>
                        </ons-col>
                    </ons-row>


                    <ons-row style="margin-top: 10px;" ng-if="formaDePago === 3">
                        <ons-col>
                            <div class="alert-b alert-b-info" role="alert">
                                <img style="width:100%; height:auto" src="http://imgmp.mlstatic.com/org-img/banners/ar/medios/online/575X40.jpg">
                            </div>
                        </ons-col>
                    </ons-row>

                    <ons-row style="margin-top: 10px;" ng-if="formaDePago === 2">
                        <ons-col>
                            <div class="alert-b alert-b-info" role="alert">
                                Te llamaremos por teléfono para pedirte los datos de la tarjeta de crédito. El costo total con tarjeta es de $ 210.- ( hasta 3 cuotas sin intereses de: $ 70.- ). Ingrese su número de teléfono fijo para realizar la operación de pago:
                                <label>Teléfono:</label>
                                <input type="text" ng-required="formaDePago === 2" ng-model="userData.profileData.telefono" class="text-input--underbar" placeholder="telefono" value="">

                            </div>
                        </ons-col>
                    </ons-row>
                    <ons-row style="margin-top: 10px;">
                        <ons-col>
                            <label>Observaciones:</label>
                            <textarea class="text-input--underbar" ng-model="observaciones" placeholder="Observaciones" style="font-size:19px;width: 100%; height: 100px;"></textarea>
                        </ons-col>
                    </ons-row>
                </div>
            </div>
        </div>

        <ons-row style="margin-top: 10px;">
            <ons-col align="center">
                <div style="text-align: center" class="content-padded">
                     <ons-button modifier="large" ng-click="enviarPedido()" should-spin="{{isWorking}}">Enviar Pedido</ons-button>
                </div>
            </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
            <ons-col align="center">
                <div style="text-align: center" class="content-padded">
                    <ons-button modifier="large--quiet" disabled="{{isWorking}}" ng-click="ons.navigator.popPage()">Mejor no</ons-button>
                </div>
            </ons-col>
        </ons-row>
    </form>
</ons-page>
