<ons-page ng-controller="CartController" ng-init="init()">
    <module-header></module-header>

    <ons-row style="margin-top: 0px;">
        <ons-col align="center">
            <module-product-list ng-hide="working"></module-product-list>
            <module-loading-spinner ng-show="working"></module-loading-spinner>
        </ons-col>
    </ons-row>
    <ons-row style="margin-top: 10px;">
        <ons-col align="center">
            <div style="text-align: center" class="content-padded">
                <ons-button modifier="large" should-spin="{{isWorking}}" ng-click="ons.navigator.pushPage('templates/forms/CartDatosEnvio.html')">Completar Datos de Pago</ons-button>
            </div>
        </ons-col>
    </ons-row>
    <ons-row style="margin-top: 10px;">
        <ons-col align="center">
            <div style="text-align: center" class="content-padded">
                <ons-button modifier="large--quiet" disabled="{{isWorking}}" ng-click="ons.navigator.resetToPage('templates/PageHome.html')">Mejor no</ons-button>
            </div>
        </ons-col>
    </ons-row>
</ons-page>
