<?xml version='1.0' encoding='utf-8' ?>
<widget id="com.weremsoft.nakaoutdoors" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NKAO App</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="res/drawable/icon.png" />
    <gap:splash src="res/drawable/splash.png"/>
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
    <gap:plugin name="com.boyvanderlaak.cordova.plugin.orientationchanger" />
    <gap:plugin name="org.apache.cordova.device" />
</widget>
