<?xml version='1.0' encoding='utf-8' ?>
<widget id="com.weremsoft.nakaoutdoors" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NKAO App</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <preference name="phonegap-version" value="3.5.0" />

    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />



    <content src="index.html" />
    <access origin="*" />
    <icon src="res/drawable/icon.png" />
    <gap:splash src="res/drawable/splash.png" />
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.2.7" />
</widget>
