<style>
#myToolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
}
</style>
<div id="myToolbar"><ons-button modifier="large--cta" ng-click="genericSelectStart(sortOptions.options, 'sortOptions.selectedSortOption','sortOptions.selectedSortDescription', 'description', 'id', refreshCurrentProductList)">Ordenado por : {{ sortOptions.selectedSortDescription}}</ons-button></div>
<!-- <ons-toolbar>test</ons-toolbar> -->
