<ons-toolbar>
    <div class="left">
        <ons-toolbar-button ng-click="menu.toggleMenu()" ng-show="ons.navigator.getPages().length <= 1">
            <ons-icon icon="bars"></ons-icon>
        </ons-toolbar-button>
        <ons-back-button ng-hide="ons.navigator.getPages().length <= 1">Back</ons-back-button>
    </div>
    <div class="center">
        <img style="margin-top: 4px;" src="imgs/logo_original_png.png">
    </div>
    <div class="right">
        <ons-toolbar-button ng-if="false" ng-show="userData.logedIn && ons.navigator.getCurrentPage().name != 'templates/FormProfile.html'" class="vertical-allign" ng-click="ons.navigator.pushPage('templates/FormProfile.html')"><img width="40px" height="40px" class="profile-image" src="{{userData.profileData.imagen}}">&nbsp;{{userData.profileData.nombre + ' ' + userData.profileData.apellido}}
        </ons-toolbar-button>
        <ons-toolbar-button ng-if="ons.navigator.getCurrentPage().name != 'templates/pages/Cart.html'" ng-click="ons.navigator.pushPage('templates/pages/Cart.html')"><ons-icon icon="shopping-cart"></ons-icon><span class="notification" ng-show="shoppingCart.cartData.items.length" style="margin-left: -12px">{{shoppingCart.cartData.items.length}}</span></ons-toolbar-button>
</ons-toolbar>
